.content{
    background-color: #ECF0F3;
    padding: 60px;
}

.content input{
    padding: 6px 20px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.resual{
  background-color: #D1E7DD;
  padding: 15px 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.accordion .btn-link{
  text-decoration: none;
  font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}